<!DOCTYPE html>
<html>
<head>
  <title>Artist Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Artist Info</h1>
  <a href="/gallery/artwork">Artwork</a>
</body>
</html>
