<!DOCTYPE html>
<html>
<head>
  <title>Gallery Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Gallery Home</h1>
  <a href="/gallery/artist">Artist Page</a>
</body>
</html>
