<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Admin Dashboard</h1>
  <ul>
    <li><a href="/dashboard/artists">Manage Artists</a></li>
    <li><a href="/dashboard/artworks">Manage Artworks</a></li>
    <li><a href="/dashboard/settings">Gallery Settings</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</body>
</html>
