<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 text-center">
  <% artists.forEach(function(artist){ %>
    <li>
      <a href="/<%= slug %>/artists/<%= artist.id %>" class="block p-2 hover:underline"><%= artist.name %></a>
    </li>
  <% }) %>
</ul>
