<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Admin Dashboard</h1>
  <a href="/admin/artists">Artists</a>
  <a href="/admin/artworks">Artworks</a>
  <a href="/admin/settings">Settings</a>
</body>
</html>
