<!DOCTYPE html>
<html>
<head>
  <title>FineArtSuite</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to FineArtSuite</h1>
  <a href="/gallery">View Gallery</a>
</body>
</html>
