<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Login</h1>
  <% if (flash.error && flash.error.length) { %>
    <p style="color:red"><%= flash.error[0] %></p>
  <% } %>
  <form method="POST" action="/login">
    <label>Username <input type="text" name="username"></label><br>
    <label>Password <input type="password" name="password"></label><br>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Login</button>
  </form>
  <p><a href="/">Back home</a></p>
</body>
</html>
